body {
  background-image: url("../Imagenes-peluditos/BACKGROUND.png");
  background-position: 0 0; }

.header {
  display: flex;
  flex-direction: row;
  background-color: rgba(173, 173, 173, 0.291);
  justify-content: space-evenly; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__title {
    background-color: #473011;
    color: white;
    border-radius: 1.2rem;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 100;
    font-family: "Oswald", sans-serif; }
  .header .navegador {
    display: flex;
    gap: 0.5rem;
    margin-right: 0;
    padding: 0.3rem; }
    .header .navegador .navbar-nav {
      gap: 50px; }
    .header .navegador .estilosA {
      font-family: "PT Sans", sans-serif;
      color: #473011;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold; }
    .header .navegador .linkNavegador {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .header .navegador .nav-item {
      border: 1.5px solid;
      border-radius: 1rem; }

.padreIndex {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "contenidoPrincipal contenidoPrincipal contenidoPrincipal" "contenidoSecundario contenidoSecundario contenidoSecundario" "footer footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto; }
  .padreIndex__title {
    color: #4b3314;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 2.3rem; }
  .padreIndex .contenidoPrincipal {
    grid-area: contenidoPrincipal;
    justify-self: normal;
    gap: 2rem;
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .padreIndex .contenidoPrincipal .contenedorTexto {
      background-color: white;
      border: 1px solid black;
      border-radius: 1rem;
      margin: 0.2rem;
      padding: 0.5rem; }
      .padreIndex .contenidoPrincipal .contenedorTexto__text {
        flex-direction: column;
        text-align: justify;
        text-decoration: wavy;
        font-family: "PT Sans", sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 27px; }
    .padreIndex .contenidoPrincipal__video {
      height: auto;
      width: auto; }
  .padreIndex .contenidoSecundario {
    grid-area: contenidoSecundario;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    gap: 2rem; }
    .padreIndex .contenidoSecundario .antesDespues {
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      text-decoration: none;
      text-align: center; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px; }
  .footer .estilosA {
    grid-area: footer;
    justify-self: normal;
    font-family: "PT Sans", sans-serif;
    color: #4b3314;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; }

@media (max-width: 480px) and (min-width: 320px) {
  /* media queries global */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__title {
      font-size: 1.4rem;
      font-weight: 100; }
    .header .navegador {
      padding: 0.3rem; }
      .header .navegador .estilosA {
        font-size: 1rem; }
  /* media queries del index */
  .padreIndex {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .padreIndex__title {
      margin-top: 1rem;
      font-size: 1.5rem; }
    .padreIndex .contenidoPrincipal {
      gap: 0.5rem;
      margin: 0px;
      display: flex;
      flex-direction: column; }
      .padreIndex .contenidoPrincipal .contenedorTexto {
        margin: 1rem;
        padding: 0.5rem; }
        .padreIndex .contenidoPrincipal .contenedorTexto__text {
          flex-direction: column;
          font-weight: 100;
          font-size: 0.8rem; }
      .padreIndex .contenidoPrincipal__video {
        height: 30vh;
        width: auto; }
    .padreIndex .contenidoSecundario {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem; }
      .padreIndex .contenidoSecundario .antesYDsp {
        width: 18rem;
        height: 11rem; }
      .padreIndex .contenidoSecundario .antesDespues {
        font-size: 0.8rem; }
  .footer {
    display: flex;
    justify-content: space-between; }
    .footer .estilosA {
      font-size: 0.8rem; } }

@media (min-width: 481px) and (max-width: 1024px) {
  /* media queries global */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .header__title {
      font-size: 2rem;
      font-weight: 100; }
    .header .navegador {
      padding: 0.5rem; }
      .header .navegador .estilosA {
        font-size: 1rem; }
  /* media queries del index */
  .padreIndex {
    display: flex;
    flex-direction: column; }
    .padreIndex__title {
      margin-top: 1rem;
      font-size: 2rem; }
    .padreIndex .contenidoPrincipal {
      display: flex;
      flex-direction: column; }
      .padreIndex .contenidoPrincipal .contenedorTexto {
        margin: 1rem;
        padding: 0.5rem; }
        .padreIndex .contenidoPrincipal .contenedorTexto__text {
          flex-direction: column;
          font-weight: 100;
          font-size: 2rem; }
      .padreIndex .contenidoPrincipal__video {
        width: 100%;
        height: 26rem;
        padding: 1rem; }
    .padreIndex .contenidoSecundario {
      flex-direction: column; }
      .padreIndex .contenidoSecundario .antesYDsp {
        width: 100%;
        height: 15rem; } }

@media (min-width: 1024px) and (max-width: 1920px) {
  .header {
    display: flex;
    flex-direction: row; }
    .header__title {
      font-size: 2rem;
      font-weight: 100; }
    .header .navegador {
      padding: 1rem; }
      .header .navegador .navbar-nav {
        gap: 20px; }
  .padreIndex {
    display: flex;
    flex-direction: column; }
    .padreIndex .contenidoPrincipal {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem; }
      .padreIndex .contenidoPrincipal .contenedorTexto {
        max-width: 40%; }
      .padreIndex .contenidoPrincipal__video {
        padding: 0.5rem;
        width: 40%;
        height: 38vh;
        align-self: center; }
    .padreIndex .contenidoSecundario {
      flex-wrap: wrap; } }

/*SCSS ADOPCION */
.header__link {
  text-decoration: none; }

.padreAdopcion {
  display: grid;
  grid-template-areas: "introAdopciones introAdopciones" "contenedorDeFotos contenedorDeFotos" "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto; }
  .padreAdopcion .introAdopciones {
    grid-area: introAdopciones;
    justify-self: center; }
    .padreAdopcion .introAdopciones .tituloAdopciones {
      color: #4b3314;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem; }
    .padreAdopcion .introAdopciones .parraAdopciones {
      text-align: center;
      font-family: "PT Sans", sans-serif;
      font-weight: 100;
      font-size: 1.2rem;
      width: 100%;
      padding: 40px;
      background-color: rgba(255, 255, 255, 0.737); }
  .padreAdopcion .contenedorDeFotos {
    grid-area: contenedorDeFotos;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem; }
    .padreAdopcion .contenedorDeFotos .mascota {
      display: flex;
      flex-direction: row;
      max-width: 48%;
      background-color: white;
      border: 1px solid black;
      border-radius: 1rem;
      padding: 1rem;
      gap: 1rem; }
      .padreAdopcion .contenedorDeFotos .mascota__img {
        width: 40%;
        height: 30vh;
        align-self: center; }
      .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .parrafoAdopciones {
          align-self: center;
          text-align: justify; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .linkMascota {
          background-color: #473011;
          text-decoration: none;
          font-size: 1.2rem;
          color: white;
          border-radius: 0.5rem;
          width: 100%;
          height: 2.3rem;
          text-align: center; }
          .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .linkMascota:hover {
            background-color: #573c18;
            font-weight: 500;
            color: white; }
  .padreAdopcion .footer {
    grid-area: footer; }

/*MEDIA QUERIES ADOPCION*/
@media (max-width: 480px) and (min-width: 320px) {
  .padreAdopcion {
    grid-template-areas: "introAdopciones" "contenedorDeFotos" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .padreAdopcion .introAdopciones .tituloAdopciones {
      margin-top: 1rem;
      font-size: 1.5rem; }
    .padreAdopcion .introAdopciones .parraAdopciones {
      font-size: 1rem; }
    .padreAdopcion .contenedorDeFotos {
      flex-direction: column; }
      .padreAdopcion .contenedorDeFotos .mascota {
        flex-direction: column;
        max-width: 70%; }
        .padreAdopcion .contenedorDeFotos .mascota__img {
          width: 100%; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .parrafoAdopciones {
          font-size: 0.8rem; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .linkMascota {
          font-size: 1rem; }
    .padreAdopcion .footer {
      grid-area: footer; } }

@media (min-width: 481px) and (max-width: 1024px) {
  .padreAdopcion .introAdopciones .tituloAdopciones {
    font-size: 2rem; }
  .padreAdopcion .introAdopciones .parraAdopciones {
    font-size: 1.2rem; }
  .padreAdopcion .contenedorDeFotos .mascota {
    flex-direction: column;
    max-width: 50%; }
    .padreAdopcion .contenedorDeFotos .mascota__img {
      max-width: 100%;
      height: 21vh; } }
