body {
  background-image: url("../Imagenes-peluditos/BACKGROUND.png");
  background-position: 0 0; }

.header {
  display: flex;
  flex-direction: row;
  background-color: rgba(173, 173, 173, 0.291);
  justify-content: space-evenly; }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center; }
  .header__title {
    background-color: #473011;
    color: white;
    border-radius: 1.2rem;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 100;
    font-family: "Oswald", sans-serif; }
  .header .navegador {
    display: flex;
    gap: 0.5rem;
    margin-right: 0;
    padding: 0.3rem; }
    .header .navegador .navbar-nav {
      gap: 50px; }
    .header .navegador .estilosA {
      font-family: "PT Sans", sans-serif;
      color: #473011;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold; }
    .header .navegador .linkNavegador {
      display: flex;
      flex-direction: row;
      align-items: center; }
    .header .navegador .nav-item {
      border: 1.5px solid;
      border-radius: 1rem; }

/*estilos del index*/
.padreIndex {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas: "contenidoPrincipal contenidoPrincipal contenidoPrincipal" "contenidoSecundario contenidoSecundario contenidoSecundario" "footer footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto; }
  .padreIndex__title {
    color: #4b3314;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 2.3rem; }
  .padreIndex .contenidoPrincipal {
    grid-area: contenidoPrincipal;
    justify-self: normal;
    gap: 2rem;
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .padreIndex .contenidoPrincipal .contenedorTexto {
      background-color: white;
      border: 1px solid black;
      border-radius: 1rem;
      margin: 0.2rem;
      padding: 0.5rem; }
      .padreIndex .contenidoPrincipal .contenedorTexto__text {
        flex-direction: column;
        text-align: justify;
        text-decoration: wavy;
        font-family: "PT Sans", sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 27px; }
    .padreIndex .contenidoPrincipal__video {
      height: auto;
      width: auto; }
  .padreIndex .contenidoSecundario {
    grid-area: contenidoSecundario;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    gap: 2rem; }
    .padreIndex .contenidoSecundario .antesDespues {
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      text-decoration: none;
      text-align: center; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px; }
  .footer .estilosA {
    grid-area: footer;
    justify-self: normal;
    font-family: "PT Sans", sans-serif;
    color: #4b3314;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; }

@media (max-width: 480px) and (min-width: 320px) {
  /* media queries global */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .header__title {
      font-size: 1.4rem;
      font-weight: 100; }
    .header .navegador {
      padding: 0.3rem; }
      .header .navegador .estilosA {
        font-size: 1rem; }
  /* media queries del index */
  .padreIndex {
    display: flex;
    justify-content: center;
    flex-direction: column; }
    .padreIndex__title {
      margin-top: 1rem;
      font-size: 1.5rem; }
    .padreIndex .contenidoPrincipal {
      gap: 0.5rem;
      margin: 0px;
      display: flex;
      flex-direction: column; }
      .padreIndex .contenidoPrincipal .contenedorTexto {
        margin: 1rem;
        padding: 0.5rem; }
        .padreIndex .contenidoPrincipal .contenedorTexto__text {
          flex-direction: column;
          font-weight: 100;
          font-size: 0.8rem; }
      .padreIndex .contenidoPrincipal__video {
        height: 30vh;
        width: auto; }
    .padreIndex .contenidoSecundario {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem; }
      .padreIndex .contenidoSecundario .antesYDsp {
        width: 18rem;
        height: 11rem; }
      .padreIndex .contenidoSecundario .antesDespues {
        font-size: 0.8rem; }
  .footer {
    display: flex;
    justify-content: space-between; }
    .footer .estilosA {
      font-size: 0.8rem; } }

@media (min-width: 481px) and (max-width: 1024px) {
  /* media queries global */
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; }
    .header__title {
      font-size: 2rem;
      font-weight: 100; }
    .header .navegador {
      padding: 0.5rem; }
      .header .navegador .estilosA {
        font-size: 1rem; }
  /* media queries del index */
  .padreIndex {
    display: flex;
    flex-direction: column; }
    .padreIndex__title {
      margin-top: 1rem;
      font-size: 2rem; }
    .padreIndex .contenidoPrincipal {
      display: flex;
      flex-direction: column; }
      .padreIndex .contenidoPrincipal .contenedorTexto {
        margin: 1rem;
        padding: 0.5rem; }
        .padreIndex .contenidoPrincipal .contenedorTexto__text {
          flex-direction: column;
          font-weight: 100;
          font-size: 2rem; }
      .padreIndex .contenidoPrincipal__video {
        width: 100%;
        height: 26rem;
        padding: 1rem; }
    .padreIndex .contenidoSecundario {
      flex-direction: column; }
      .padreIndex .contenidoSecundario .antesYDsp {
        width: 100%;
        height: 15rem; } }

@media (min-width: 1024px) and (max-width: 1920px) {
  .header {
    display: flex;
    flex-direction: row; }
    .header__title {
      font-size: 2rem;
      font-weight: 100; }
    .header .navegador {
      padding: 1rem; }
      .header .navegador .navbar-nav {
        gap: 20px; }
  .padreIndex {
    display: flex;
    flex-direction: column; }
    .padreIndex .contenidoPrincipal {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem; }
      .padreIndex .contenidoPrincipal .contenedorTexto {
        max-width: 40%; }
      .padreIndex .contenidoPrincipal__video {
        padding: 0.5rem;
        width: 40%;
        height: 38vh;
        align-self: center; }
    .padreIndex .contenidoSecundario {
      flex-wrap: wrap; } }

/*estilos ADOPCION */
.header__link {
  text-decoration: none; }

.padreAdopcion {
  display: grid;
  grid-template-areas: "introAdopciones introAdopciones" "contenedorDeFotos contenedorDeFotos" "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto; }
  .padreAdopcion .introAdopciones {
    grid-area: introAdopciones;
    justify-self: center; }
    .padreAdopcion .introAdopciones .tituloAdopciones {
      color: #4b3314;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem; }
    .padreAdopcion .introAdopciones .parraAdopciones {
      text-align: center;
      font-family: "PT Sans", sans-serif;
      font-weight: 100;
      font-size: 1.2rem;
      width: 100%;
      padding: 40px;
      background-color: rgba(255, 255, 255, 0.737); }
  .padreAdopcion .contenedorDeFotos {
    grid-area: contenedorDeFotos;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem; }
    .padreAdopcion .contenedorDeFotos .mascota {
      display: flex;
      flex-direction: row;
      max-width: 48%;
      background-color: white;
      border: 1px solid black;
      border-radius: 1rem;
      padding: 1rem;
      gap: 1rem; }
      .padreAdopcion .contenedorDeFotos .mascota__img {
        width: 40%;
        height: 30vh;
        align-self: center; }
      .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .parrafoAdopciones {
          align-self: center;
          text-align: justify; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .linkMascota {
          background-color: #473011;
          text-decoration: none;
          font-size: 1.2rem;
          color: white;
          border-radius: 0.5rem;
          width: 100%;
          height: 2.3rem;
          text-align: center; }
          .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .linkMascota:hover {
            background-color: #573c18;
            font-weight: 500;
            color: white; }
  .padreAdopcion .footer {
    grid-area: footer; }

/*MEDIA QUERIES ADOPCION*/
@media (max-width: 480px) and (min-width: 320px) {
  .padreAdopcion {
    grid-template-areas: "introAdopciones" "contenedorDeFotos" "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .padreAdopcion .introAdopciones .tituloAdopciones {
      margin-top: 1rem;
      font-size: 1.5rem; }
    .padreAdopcion .introAdopciones .parraAdopciones {
      font-size: 1rem; }
    .padreAdopcion .contenedorDeFotos {
      flex-direction: column; }
      .padreAdopcion .contenedorDeFotos .mascota {
        flex-direction: column;
        max-width: 70%; }
        .padreAdopcion .contenedorDeFotos .mascota__img {
          width: 100%; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .parrafoAdopciones {
          font-size: 0.8rem; }
        .padreAdopcion .contenedorDeFotos .mascota__contenidoTexto .linkMascota {
          font-size: 1rem; }
    .padreAdopcion .footer {
      grid-area: footer; } }

@media (min-width: 481px) and (max-width: 1024px) {
  .padreAdopcion .introAdopciones .tituloAdopciones {
    font-size: 2rem; }
  .padreAdopcion .introAdopciones .parraAdopciones {
    font-size: 1.2rem; }
  .padreAdopcion .contenedorDeFotos .mascota {
    flex-direction: column;
    max-width: 50%; }
    .padreAdopcion .contenedorDeFotos .mascota__img {
      max-width: 100%;
      height: 21vh; } }

/*estilos DONACIONES*/
.padreDonaciones {
  display: grid;
  grid-template-areas: "hijoIntro" "hijoDinero" "hijoInsumo" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto; }
  .padreDonaciones .hijoIntro {
    justify-self: center;
    grid-area: hijoIntro; }
    .padreDonaciones .hijoIntro__title {
      color: #4b3314;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem; }
    .padreDonaciones .hijoIntro .parrafoDonaciones {
      text-align: center;
      font-family: 'PT Sans', sans-serif;
      font-weight: 100;
      font-size: 1.2rem;
      padding: 40px;
      background-color: rgba(255, 255, 255, 0.737); }
  .padreDonaciones .hijoDinero {
    grid-area: hijoDinero;
    justify-self: center; }
    .padreDonaciones .hijoDinero__title {
      color: #473011;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem; }
    .padreDonaciones .hijoDinero .linksDePago {
      display: flex;
      justify-content: space-evenly;
      list-style: none;
      margin-top: 1rem; }
      .padreDonaciones .hijoDinero .linksDePago .imagenA {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem; }
        .padreDonaciones .hijoDinero .linksDePago .imagenA .logos {
          height: 2.7rem; }
      .padreDonaciones .hijoDinero .linksDePago .estilosA {
        font-family: "PT Sans", sans-serif;
        color: #473011;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold; }
  .padreDonaciones .hijoInsumos {
    grid-area: hijoInsumos;
    justify-self: center; }
    .padreDonaciones .hijoInsumos__title {
      color: #473011;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem;
      margin-top: 3rem;
      margin-bottom: 3rem; }
    .padreDonaciones .hijoInsumos .insumos {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly; }
    .padreDonaciones .hijoInsumos .listaInsumo {
      font-size: 1.2rem;
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.737);
      border: 1px solid black;
      border-radius: 1rem;
      width: 30%; }
      .padreDonaciones .hijoInsumos .listaInsumo__title {
        color: #473011;
        text-align: center;
        font-family: "PT Sans", sans-serif;
        font-size: 2rem;
        text-decoration: underline; }
  .padreDonaciones .footer {
    grid-area: footer;
    justify-self: normal; }

/*MEDIA QUERIES DONACIONES*/
@media (max-width: 480px) and (min-width: 320px) {
  .padreDonaciones .hijoIntro__title {
    font-size: 1.5rem;
    margin-top: 1rem; }
  .padreDonaciones .hijoIntro .parrafoDonaciones {
    font-size: 1rem;
    padding: 2rem; }
  .padreDonaciones .hijoDinero__title {
    font-size: 1.5rem;
    margin-top: 1rem; }
  .padreDonaciones .hijoDinero .linksDePago .imagenA .logos {
    height: 1.2rem;
    width: 5rem; }
  .padreDonaciones .hijoDinero .linksDePago .imagenA .estilosA {
    font-size: 0.8rem; }
  .padreDonaciones .hijoInsumos__title {
    font-size: 1.5rem;
    margin-top: 1rem; }
  .padreDonaciones .hijoInsumos .insumos {
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    .padreDonaciones .hijoInsumos .insumos .listaInsumo {
      font-size: 1rem;
      width: 90%; }
      .padreDonaciones .hijoInsumos .insumos .listaInsumo__title {
        font-size: 1.2rem; } }

@media (min-width: 481px) and (max-width: 1024px) {
  .padreDonaciones .hijoDinero .linksDePago .imagenA .logos {
    height: 2.5rem;
    width: 10rem; }
  .padreDonaciones .hijoDinero .linksDePago .imagenA .estilosA {
    font-size: 1.1rem; }
  .padreDonaciones .hijoInsumos .insumos {
    flex-direction: column;
    align-items: center;
    gap: 1rem; }
    .padreDonaciones .hijoInsumos .insumos .listaInsumo {
      width: 85%; } }

/*ESTILOS DENUNCIA*/
.header__link {
  text-decoration: none; }

.padreDenuncia {
  display: grid;
  grid-template-areas: "hijoDenuncia" "contenedorListas" "linkDeLey" "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto; }
  .padreDenuncia .hijoDenuncia {
    grid-area: hijoDenuncia;
    justify-self: center; }
    .padreDenuncia .hijoDenuncia__title {
      color: #473011;
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem;
      margin-top: 3rem;
      margin-bottom: 3rem; }
    .padreDenuncia .hijoDenuncia .parrafoDenuncia {
      font-family: "PT Sans", sans-serif;
      text-align: center;
      font-weight: bold;
      font-size: 1.2rem;
      background-color: rgba(255, 255, 255, 0.737); }
  .padreDenuncia .contenedorListas {
    grid-area: contenedorListas;
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap; }
    .padreDenuncia .contenedorListas .lista {
      background-color: white;
      border: 1px solid black;
      border-radius: 1rem;
      font-size: 1.2rem;
      line-height: 2.2rem;
      text-align: justify;
      padding: 1rem;
      max-width: 40%; }
  .padreDenuncia .linkDeLey {
    justify-self: center;
    grid-area: linkDeLey;
    align-items: center; }
    .padreDenuncia .linkDeLey__title {
      text-align: center;
      margin: 1rem; }
      .padreDenuncia .linkDeLey__title .estilosA {
        font-family: "PT Sans", sans-serif;
        color: white;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        background-color: #473011;
        padding: 1rem;
        border-radius: 1rem; }
      .padreDenuncia .linkDeLey__title .estilosA:hover {
        background-color: #573c18;
        font-weight: 100; }
  .padreDenuncia .footer {
    grid-area: footer; }

/*MEDIA QUERIES DENUNCIA*/
@media (max-width: 480px) and (min-width: 320px) {
  .padreDenuncia .hijoDenuncia__title {
    font-size: 1.5rem; }
  .padreDenuncia .hijoDenuncia .parrafoDenuncia {
    font-size: 1rem; }
  .padreDenuncia .contenedorListas {
    flex-direction: column;
    align-items: center; }
    .padreDenuncia .contenedorListas .lista {
      font-size: 1rem;
      max-width: 80%; }
  .padreDenuncia .linkDeLey__title .estilosA {
    font-size: 1rem; } }

@media (min-width: 481px) and (max-width: 1024px) {
  .padreDenuncia .contenedorListas {
    flex-direction: column;
    align-items: center; }
    .padreDenuncia .contenedorListas .lista {
      max-width: 80%; } }

/*ESTILOS DE CONTACTO*/
.header__link {
  text-decoration: none; }

.contContacto {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .contContacto__title {
    color: #473011;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 2.3rem;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .contContacto .textoImg {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem; }
    .contContacto .textoImg .parrafoContacto {
      background-color: rgba(255, 255, 255, 0.737);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .contContacto .textoImg .parrafoContacto .introContacto {
        text-align: center;
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 1.2rem; }
      .contContacto .textoImg .parrafoContacto .imgRefugio {
        width: 70%; }
  .contContacto .formulario {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.579);
    background-color: rgba(143, 114, 85, 0.658);
    border-radius: 1rem;
    width: 40%; }
    .contContacto .formulario .fields {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .contContacto .formulario .fields .formularioEstilo {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .contContacto .formulario .fields .formularioEstilo__title {
          font-family: 'PT Sans', sans-serif;
          font-weight: bold; }
        .contContacto .formulario .fields .formularioEstilo .imagenLogo {
          width: 30%; }
      .contContacto .formulario .fields .contenidoFormulario {
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: space-between; }
      .contContacto .formulario .fields .contenido {
        font-size: 1.5rem; }
      .contContacto .formulario .fields .boton, .contContacto .formulario .fields .boton--borrar, .contContacto .formulario .fields .boton--enviar {
        width: 30%;
        border-radius: 10px; }
      .contContacto .formulario .fields .boton--borrar:hover {
        background-color: rgba(255, 0, 0, 0.591); }
      .contContacto .formulario .fields .boton--enviar:hover {
        background-color: #72ba72; }

/*MEDIA QUERIES CONTACATO*/
@media (max-width: 480px) and (min-width: 320px) {
  .contContacto__title {
    font-size: 1.5rem; }
  .contContacto .textoImg {
    flex-direction: column;
    align-items: center; }
    .contContacto .textoImg .parrafoContacto .introContacto {
      font-size: 1rem; }
    .contContacto .textoImg .formulario {
      width: 85%;
      padding: 0.3rem;
      height: 50vh; }
      .contContacto .textoImg .formulario .contenidoFormulario {
        height: 70%;
        justify-content: space-between; }
      .contContacto .textoImg .formulario .contenido {
        font-size: 1rem; } }

@media (min-width: 481px) and (max-width: 1024px) {
  .contContacto .textoImg {
    flex-direction: column;
    align-items: center; }
    .contContacto .textoImg .formulario {
      padding: 0.7rem;
      width: 80%;
      height: 65vh; }
    .contContacto .textoImg .contenidoFormulario {
      justify-content: space-between; }
    .contContacto .textoImg .contenido {
      font-size: 1.3rem; } }
