//variables
$rutaDeImagen: "../Imagenes-peluditos/BACKGROUND.png";


//maps-coleccion de colores
$colores: (
  colorPrincipal: rgb(71, 48, 17),
  colorSecundario: rgb(255, 255, 255),
  colorTerciario: rgba(255, 255, 255, 0.737),
);
