//variables
$rutaDeImagen: "../Imagenes-peluditos/BACKGROUND.png";
$colorPrincipal: rgb(71, 48, 17);
$colorSecundario: rgb(255, 255, 255);
$colorTerciario: rgba(255, 255, 255, 0.737);

@mixin background($imgpath, $position: 0 0, $repeat: no-repeat) {
  background: {
    image: url($imgpath);
    position: $position;
  }
}

body {
  @include background($rutaDeImagen);
}

.header {
  display: flex;
  flex-direction: row;
  background-color: rgba(173, 173, 173, 0.291);
  justify-content: space-evenly;

  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    background-color: $colorPrincipal;
    color: $colorSecundario;
    border-radius: 1.2rem;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 2.7rem;
    font-weight: 100;
    font-family: "Oswald", sans-serif;
  }

  .navegador {
    display: flex;
    gap: 0.5rem;
    margin-right: 0;
    padding: 0.3rem;

    .navbar-nav {
      gap: 50px;
    }

    .estilosA {
      font-family: "PT Sans", sans-serif;
      color: $colorPrincipal;
      text-decoration: none;
      font-size: 20px;
      font-weight: bold;
    }

    .linkNavegador {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .nav-item {
      border: 1.5px solid;
      border-radius: 1rem;
    }
  }
}

.padreIndex {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-areas:
    "contenidoPrincipal contenidoPrincipal contenidoPrincipal"
    "contenidoSecundario contenidoSecundario contenidoSecundario"
    "footer footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  &__title {
    color: rgb(75, 51, 20);
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 2.3rem;
  }

  .contenidoPrincipal {
    grid-area: contenidoPrincipal;
    justify-self: normal;
    gap: 2rem;
    margin: 30px 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .contenedorTexto {
      background-color: white;
      border: 1px solid black;
      border-radius: 1rem;
      margin: 0.2rem;
      padding: 0.5rem;

      &__text {
        flex-direction: column;
        text-align: justify;
        text-decoration: wavy;
        font-family: "PT Sans", sans-serif;
        font-weight: 100;
        font-size: 1.2rem;
        line-height: 27px;
      }
    }

    &__video {
      height: auto;
      width: auto;
    }
  }

  .contenidoSecundario {
    grid-area: contenidoSecundario;
    justify-self: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    gap: 2rem;

    .antesDespues {
      font-family: "PT Sans", sans-serif;
      font-weight: bold;
      font-size: 1rem;
      text-decoration: none;
      text-align: center;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px;

  .estilosA {
    grid-area: footer;
    justify-self: normal;
    font-family: "PT Sans", sans-serif;
    color: rgb(75, 51, 20);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
  }
}

// media queries celular
@media (max-width: 480px) and (min-width: 320px) {
  /* media queries global */

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;

    &__title {
      font-size: 1.4rem;
      font-weight: 100;
    }

    .navegador {
      padding: 0.3rem;

      .estilosA {
        font-size: 1rem;
      }
    }
  }

  /* media queries del index */
  .padreIndex {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__title {
      margin-top: 1rem;
      font-size: 1.5rem;
    }

    .contenidoPrincipal {
      gap: 0.5rem;
      margin: 0px;
      display: flex;
      flex-direction: column;

      .contenedorTexto {
        margin: 1rem;
        padding: 0.5rem;

        &__text {
          flex-direction: column;
          font-weight: 100;
          font-size: 0.8rem;
        }
      }
      &__video {
        height: 30vh;
        width: auto;
      }
    }

    .contenidoSecundario {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 6rem;

      .antesYDsp {
        width: 18rem;
        height: 11rem;
      }

      .antesDespues {
        font-size: 0.8rem;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;

    .estilosA {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 481px) and (max-width: 1024px) {
  /* media queries global */

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    &__title {
      font-size: 2rem;
      font-weight: 100;
    }

    .navegador {
      padding: 0.5rem;

      .estilosA {
        font-size: 1rem;
      }
    }
  }

  /* media queries del index */
  .padreIndex {
    display: flex;
    flex-direction: column;

    &__title {
      margin-top: 1rem;
      font-size: 2rem;
    }

    .contenidoPrincipal {
      display: flex;
      flex-direction: column;

      .contenedorTexto {
        margin: 1rem;
        padding: 0.5rem;

        &__text {
          flex-direction: column;
          font-weight: 100;
          font-size: 2rem;
        }
      }
      &__video {
        width: 100%;
        height: 26rem;
        padding: 1rem;
      }
    }

    .contenidoSecundario {
      flex-direction: column;

      .antesYDsp {
        width: 100%;
        height: 15rem;
      }
    }
  }
}

//media queries pantallas desktop
@media (min-width: 1024px) and (max-width: 1920px) {
  //MEDIA QUERIES GLOBAL
  .header {
    display: flex;
    flex-direction: row;

    &__title {
      font-size: 2rem;
      font-weight: 100;
    }

    .navegador {
      padding: 1rem;

      .navbar-nav {
        gap: 20px;
      }
    }
  }

  .padreIndex {
    display: flex;
    flex-direction: column;

    .contenidoPrincipal {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      .contenedorTexto {
        max-width: 40%;
      }
      &__video {
        padding: 0.5rem;
        width: 40%;
        height: 38vh;
        align-self: center;
      }
    }

    .contenidoSecundario {
      flex-wrap: wrap;
    }
  }
}

/*SCSS ADOPCION */
.header {
  &__link {
    text-decoration: none;
  }
}

.padreAdopcion {
  display: grid;
  grid-template-areas:
    "introAdopciones introAdopciones"
    "contenedorDeFotos contenedorDeFotos"
    "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .introAdopciones {
    grid-area: introAdopciones;
    justify-self: center;

    .tituloAdopciones {
      color: rgb(75, 51, 20);
      text-align: center;
      font-family: "Oswald", sans-serif;
      font-size: 2.3rem;
    }
    .parraAdopciones {
      text-align: center;
      font-family: "PT Sans", sans-serif;
      font-weight: 100;
      font-size: 1.2rem;
      width: 100%;
      padding: 40px;
      background-color: $colorTerciario;
    }
  }

  .contenedorDeFotos {
    grid-area: contenedorDeFotos;
    justify-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;

    .mascota {
      display: flex;
      flex-direction: row;
      max-width: 48%;
      background-color: $colorSecundario;
      border: 1px solid black;
      border-radius: 1rem;
      padding: 1rem;
      gap: 1rem;

      &__img {
        width: 40%;
        height: 30vh;
        align-self: center;
      }

      &__contenidoTexto {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .parrafoAdopciones {
          align-self: center;
          text-align: justify;
        }
        .linkMascota {
          background-color: $colorPrincipal;
          text-decoration: none;
          font-size: 1.2rem;
          color: $colorSecundario;
          border-radius: 0.5rem;
          width: 100%;
          height: 2.3rem;
          text-align: center;

          &:hover {
            background-color: rgb(87, 60, 24);
            font-weight: 500;
            color: $colorSecundario;
          }
        }
      }
    }
  }
  .footer {
    grid-area: footer;
  }
}

/*MEDIA QUERIES ADOPCION*/
//media queries para celular

@media (max-width: 480px) and (min-width: 320px) {
  .padreAdopcion {
    grid-template-areas:
      "introAdopciones"
      "contenedorDeFotos"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    .introAdopciones {
      .tituloAdopciones {
        margin-top: 1rem;
        font-size: 1.5rem;
      }

      .parraAdopciones {
        font-size: 1rem;
      }
    }

    .contenedorDeFotos {
      flex-direction: column;

      .mascota {
        flex-direction: column;
        max-width: 70%;

        &__img {
          width: 100%;
        }

        &__contenidoTexto {
          .parrafoAdopciones {
            font-size: 0.8rem;
          }
          .linkMascota {
            font-size: 1rem;
          }
        }
      }
    }
    .footer {
      grid-area: footer;
    }
  }
}

//media queries tablets
@media (min-width: 481px) and (max-width: 1024px) {
  .padreAdopcion {
    .introAdopciones {
      .tituloAdopciones {
        font-size: 2rem;
      }
      .parraAdopciones{
        font-size: 1.2rem;
      }
    }

    .contenedorDeFotos{
      .mascota{
        flex-direction: column;
        max-width: 50%;

        &__img{
          max-width: 100%;
          height: 21vh;
        }
      }
    }
  }
}
